<div class="well">
  <form class="form-horizontal" novalidate #listForm="ngForm">
    <fieldset>
      <legend>New Playlist</legend>
      <div [hidden]="!serverError" class="alert alert-danger">
        {{ serverError }}
      </div>
      <div *ngIf="!title.pristine && title.errors" role="alert">
        <div [hidden]="!title.errors.required" class="alert alert-warning">Please enter a title</div>
        <div [hidden]="!title.errors.minlength" class="alert alert-warning">Title is too short</div>
      </div>
      <div class="form-group">
        <label for="title" class="col-xs-2 control-label">Title</label>
        <div class="col-xs-10">
          <input class="form-control" name="title" type="text" required minlength="4" maxlength="24" [(ngModel)]="newlist.name" #title="ngModel"/>
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-10 col-xs-offset-2">
          <button type="button" class="btn btn-success" [disabled]="!listForm.valid" (click)="handleClick()">Create Playlist</button>
        </div>
      </div>
    </fieldset>
  </form>
</div>
